* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #5d1049;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.left-content,
.right-content {
    width: calc(50% - 10px);
}

.left-content {
    padding-right: 10px;
}

.right-content {
    padding-left: 10px;
}

h2 {
    color: #800f58;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.niyamas-table, 
.yamas-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.niyamas-table th,
.niyamas-table td,
.yamas-table th,
.yamas-table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

.niyamas-table th,
.yamas-table th {
    background-color: #9c1b6e;
    color: #fff;
}

.niyamas-table tr:nth-child(even),
.yamas-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.footer {
    background-color: #5d1049;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer p {
    margin: 0;
    font-size: 0.75em;
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .header {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    .niyamas-table th,
    .niyamas-table td,
    .yamas-table th,
    .yamas-table td {
        padding: 8px;
    }
}
