table{
    width: 600px;
    height: 400px;
    border-collapse: collapse;
    margin: 20px 0;
}

th {   
    border: 2px solid #006400;
    text-align: center;
    background-color: #28a745;
    color: white;
}

td {
    border: 2px solid #006400;
    text-align: center;
}